@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
  background: #000000;
  font-family: 'DotGothic16', sans-serif;
  text-align: left;
  width: 100%;
}

.header {
  color: #0339FF;
  font-size: 5rem;
  display: inline-block;
  vertical-align: middle;
}

#game {
  display: inline-block;
  margin-left: 5rem;
  vertical-align: middle;
}

button {
  font-family: inherit;
  border: 3px dotted #0339FF;
  height: 3rem;
  font-size: 1rem;
}

.divider{
  width: 2rem;
  height: auto;
  display: inline-block;
}
